@model IEnumerable<TicketLog.Models.Statistic>

@{
    ViewData["Title"] = "Statistics";
}
<html>
<head>
    <style>
        body {
            padding-bottom: 150px;
        }

        .body-content {           
            margin-left: 5px;
            margin-right: 5px;
        }
    </style>
</head>
<body>
<h1 class="center" >Goal: 31,500</h1>
<hr />
<div class="body-content">
    <p>
        <a class="btn btn-default" asp-action="Create">Create Statistic</a>
    </p>
    <table class="highlight bordered">
        <thead class="table-striped bg-primary">
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">Entry Date</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Emails)
                </th>
                <th>
                    New Applications
                </th>
                <th>
                    To Do
                </th>
                <th>
                    Year To Date
                </th>
                <th>
                    Incomplete Applications
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(modelitem => item.EntryDate)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.Emails)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NewApplicaitons)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ToDo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YearToDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IncompleteApplications)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
</body>
</html>
